In [137]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
import requests
import os 
from dotenv import load_dotenv 
load_dotenv() 
import folium
from folium.plugins import HeatMap
from folium.plugins import MeasureControl

In [138]:
 # conexión con la base de datos de mongo 
client = MongoClient("mongodb://localhost:27017/",username='admin',password='123')
db = client.companies

In [139]:
companiesny = db.mongonewyork.find()

In [140]:
data_companies = pd.DataFrame(companiesny)
data_companies

,_id,name,geopoint,City,latitude,longitude
0,5d867fdcc99008113a8662de,PeekYou,"{'type': 'Point', 'coordinates': [-73.985506, ...",New York,40.757929,-73.985506
1,5d867fdcc99008113a8662df,BrandYourself,"{'type': 'Point', 'coordinates': [-71.24762, 4...",New York,42.275263,-71.247620
2,5d867fdcc99008113a8662e0,ChallengePost,"{'type': 'Point', 'coordinates': [-74.00717, 4...",New York,40.740804,-74.007170
3,5d867fdcc99008113a8662e1,Yipit,"{'type': 'Point', 'coordinates': [-73.987764, ...",New York,40.744618,-73.987764
4,5d867fdcc99008113a8662e2,GameChanger Media,"{'type': 'Point', 'coordinates': [-74.0136605,...",New York,40.707834,-74.013661
5,5d867fdcc99008113a8662e3,Chartbeat,"{'type': 'Point', 'coordinates': [-73.990967, ...",New York,40.733430,-73.990967

In [141]:
newyork = data_companies.drop(columns=["_id"])
newyork

,name,geopoint,City,latitude,longitude
0,PeekYou,"{'type': 'Point', 'coordinates': [-73.985506, ...",New York,40.757929,-73.985506
1,BrandYourself,"{'type': 'Point', 'coordinates': [-71.24762, 4...",New York,42.275263,-71.247620
2,ChallengePost,"{'type': 'Point', 'coordinates': [-74.00717, 4...",New York,40.740804,-74.007170
3,Yipit,"{'type': 'Point', 'coordinates': [-73.987764, ...",New York,40.744618,-73.987764
4,GameChanger Media,"{'type': 'Point', 'coordinates': [-74.0136605,...",New York,40.707834,-74.013661
5,Chartbeat,"{'type': 'Point', 'coordinates': [-73.990967, ...",New York,40.733430,-73.990967

In [142]:
 # conexión con la base de datos de mongo starbucks
client = MongoClient("mongodb://localhost:27017/",username='admin',password='123')
db = client.companies

In [146]:
companies = db.mongostarbucks.find()

In [147]:
data_companiestarbucks = pd.DataFrame(companies)
data_companiestarbucks

,_id,name,latitude,longitude,City,position
0,5d867974c99008113a865d21,Starbucks,40.756727,-73.985880,New York,"{'type': 'Point', 'coordinates': [-73.9858802,..."
1,5d867974c99008113a865d22,Starbucks,40.757135,-73.989148,New York,"{'type': 'Point', 'coordinates': [-73.9891482,..."
2,5d867974c99008113a865d23,Starbucks,40.772464,-73.950066,New York,"{'type': 'Point', 'coordinates': [-73.9500657,..."
3,5d867974c99008113a865d24,Starbucks,40.760348,-73.976134,New York,"{'type': 'Point', 'coordinates': [-73.976134, ..."
4,5d867974c99008113a865d25,Starbucks Reserve,40.714152,-74.015532,New York,"{'type': 'Point', 'coordinates': [-74.0155323,..."
5,5d867974c99008113a865d26,Starbucks,40.762401,-73.974057,New York,"{'type': 'Point', 'coordinates': [-73.974057, ..."
6,5d867974c99008113a865d27,Starbucks,40.763714,-73.985313,New York,"{'type': 'Point', 'coordinates': [-73.985313, ..."
7,5d867974c99008113a865d28,Starbucks,40.755599,-73.980208,New York,"{'type': 'Point', 'coordinates': [-73.980208, ..."
8,5d867974c99008113a865d29,Starbucks,40.764412,-73.981069,New York,"{'type': 'Point', 'coordinates': [-73.981069, ..."
9,5d867974c99008113a865d2a,Starbucks,40.760737,-73.983782,New York,"{'type': 'Point', 'coordinates': [-73.9837823,..."
10,5d867974c99008113a865d2b,Starbucks,40.711619,-74.006730,New York,"{'type': 'Point', 'coordinates': [-74.00673, 4..."
11,5d867974c99008113a865d2c,Starbucks,40.705162,-74.011330,New York,"{'type': 'Point', 'coordinates': [-74.01133, 4..."
12,5d867974c99008113a865d2d,Starbucks,40.764785,-73.977102,New York,"{'type': 'Point', 'coordinates': [-73.977102, ..."
13,5d867974c99008113a865d2e,Starbucks Reserve,40.759636,-73.985222,New York,"{'type': 'Point', 'coordinates': [-73.985222, ..."
14,5d867974c99008113a865d2f,Starbucks,40.719333,-73.989977,New York,"{'type': 'Point', 'coordinates': [-73.989977, ..."
15,5d867974c99008113a865d30,Starbucks,40.733037,-73.980964,New York,"{'type': 'Point', 'coordinates': [-73.980964, ..."
16,5d867974c99008113a865d31,Starbucks,40.715754,-74.003125,New York,"{'type': 'Point', 'coordinates': [-74.003125, ..."
17,5d867974c99008113a865d32,Starbucks,40.710914,-74.015373,New York,"{'type': 'Point', 'coordinates': [-74.015373, ..."
18,5d867974c99008113a865d33,Starbucks,40.758856,-73.978954,New York,"{'type': 'Point', 'coordinates': [-73.978954, ..."
19,5d867974c99008113a865d34,Starbucks,40.718252,-73.999961,New York,"{'type': 'Point', 'coordinates': [-73.999961, ..."

In [148]:
starbucks = data_companiestarbucks.drop(columns=["_id"])
starbucks

,name,latitude,longitude,City,position
0,Starbucks,40.756727,-73.985880,New York,"{'type': 'Point', 'coordinates': [-73.9858802,..."
1,Starbucks,40.757135,-73.989148,New York,"{'type': 'Point', 'coordinates': [-73.9891482,..."
2,Starbucks,40.772464,-73.950066,New York,"{'type': 'Point', 'coordinates': [-73.9500657,..."
3,Starbucks,40.760348,-73.976134,New York,"{'type': 'Point', 'coordinates': [-73.976134, ..."
4,Starbucks Reserve,40.714152,-74.015532,New York,"{'type': 'Point', 'coordinates': [-74.0155323,..."
5,Starbucks,40.762401,-73.974057,New York,"{'type': 'Point', 'coordinates': [-73.974057, ..."
6,Starbucks,40.763714,-73.985313,New York,"{'type': 'Point', 'coordinates': [-73.985313, ..."
7,Starbucks,40.755599,-73.980208,New York,"{'type': 'Point', 'coordinates': [-73.980208, ..."
8,Starbucks,40.764412,-73.981069,New York,"{'type': 'Point', 'coordinates': [-73.981069, ..."
9,Starbucks,40.760737,-73.983782,New York,"{'type': 'Point', 'coordinates': [-73.9837823,..."
10,Starbucks,40.711619,-74.006730,New York,"{'type': 'Point', 'coordinates': [-74.00673, 4..."
11,Starbucks,40.705162,-74.011330,New York,"{'type': 'Point', 'coordinates': [-74.01133, 4..."
12,Starbucks,40.764785,-73.977102,New York,"{'type': 'Point', 'coordinates': [-73.977102, ..."
13,Starbucks Reserve,40.759636,-73.985222,New York,"{'type': 'Point', 'coordinates': [-73.985222, ..."
14,Starbucks,40.719333,-73.989977,New York,"{'type': 'Point', 'coordinates': [-73.989977, ..."
15,Starbucks,40.733037,-73.980964,New York,"{'type': 'Point', 'coordinates': [-73.980964, ..."
16,Starbucks,40.715754,-74.003125,New York,"{'type': 'Point', 'coordinates': [-74.003125, ..."
17,Starbucks,40.710914,-74.015373,New York,"{'type': 'Point', 'coordinates': [-74.015373, ..."
18,Starbucks,40.758856,-73.978954,New York,"{'type': 'Point', 'coordinates': [-73.978954, ..."
19,Starbucks,40.718252,-73.999961,New York,"{'type': 'Point', 'coordinates': [-73.999961, ..."

In [149]:
starbucksre = starbucks.rename(columns={"position": "geopoint"})
starbucksre

,name,latitude,longitude,City,geopoint
0,Starbucks,40.756727,-73.985880,New York,"{'type': 'Point', 'coordinates': [-73.9858802,..."
1,Starbucks,40.757135,-73.989148,New York,"{'type': 'Point', 'coordinates': [-73.9891482,..."
2,Starbucks,40.772464,-73.950066,New York,"{'type': 'Point', 'coordinates': [-73.9500657,..."
3,Starbucks,40.760348,-73.976134,New York,"{'type': 'Point', 'coordinates': [-73.976134, ..."
4,Starbucks Reserve,40.714152,-74.015532,New York,"{'type': 'Point', 'coordinates': [-74.0155323,..."
5,Starbucks,40.762401,-73.974057,New York,"{'type': 'Point', 'coordinates': [-73.974057, ..."
6,Starbucks,40.763714,-73.985313,New York,"{'type': 'Point', 'coordinates': [-73.985313, ..."
7,Starbucks,40.755599,-73.980208,New York,"{'type': 'Point', 'coordinates': [-73.980208, ..."
8,Starbucks,40.764412,-73.981069,New York,"{'type': 'Point', 'coordinates': [-73.981069, ..."
9,Starbucks,40.760737,-73.983782,New York,"{'type': 'Point', 'coordinates': [-73.9837823,..."
10,Starbucks,40.711619,-74.006730,New York,"{'type': 'Point', 'coordinates': [-74.00673, 4..."
11,Starbucks,40.705162,-74.011330,New York,"{'type': 'Point', 'coordinates': [-74.01133, 4..."
12,Starbucks,40.764785,-73.977102,New York,"{'type': 'Point', 'coordinates': [-73.977102, ..."
13,Starbucks Reserve,40.759636,-73.985222,New York,"{'type': 'Point', 'coordinates': [-73.985222, ..."
14,Starbucks,40.719333,-73.989977,New York,"{'type': 'Point', 'coordinates': [-73.989977, ..."
15,Starbucks,40.733037,-73.980964,New York,"{'type': 'Point', 'coordinates': [-73.980964, ..."
16,Starbucks,40.715754,-74.003125,New York,"{'type': 'Point', 'coordinates': [-74.003125, ..."
17,Starbucks,40.710914,-74.015373,New York,"{'type': 'Point', 'coordinates': [-74.015373, ..."
18,Starbucks,40.758856,-73.978954,New York,"{'type': 'Point', 'coordinates': [-73.978954, ..."
19,Starbucks,40.718252,-73.999961,New York,"{'type': 'Point', 'coordinates': [-73.999961, ..."

In [150]:
datafinal = pd.concat([newyork,starbucksre],sort=False)
datafinal

,name,geopoint,City,latitude,longitude
0,PeekYou,"{'type': 'Point', 'coordinates': [-73.985506, ...",New York,40.757929,-73.985506
1,BrandYourself,"{'type': 'Point', 'coordinates': [-71.24762, 4...",New York,42.275263,-71.247620
2,ChallengePost,"{'type': 'Point', 'coordinates': [-74.00717, 4...",New York,40.740804,-74.007170
3,Yipit,"{'type': 'Point', 'coordinates': [-73.987764, ...",New York,40.744618,-73.987764
4,GameChanger Media,"{'type': 'Point', 'coordinates': [-74.0136605,...",New York,40.707834,-74.013661
5,Chartbeat,"{'type': 'Point', 'coordinates': [-73.990967, ...",New York,40.733430,-73.990967
0,Starbucks,"{'type': 'Point', 'coordinates': [-73.9858802,...",New York,40.756727,-73.985880
1,Starbucks,"{'type': 'Point', 'coordinates': [-73.9891482,...",New York,40.757135,-73.989148
2,Starbucks,"{'type': 'Point', 'coordinates': [-73.9500657,...",New York,40.772464,-73.950066
3,Starbucks,"{'type': 'Point', 'coordinates': [-73.976134, ...",New York,40.760348,-73.976134
4,Starbucks Reserve,"{'type': 'Point', 'coordinates': [-74.0155323,...",New York,40.714152,-74.015532
5,Starbucks,"{'type': 'Point', 'coordinates': [-73.974057, ...",New York,40.762401,-73.974057
6,Starbucks,"{'type': 'Point', 'coordinates': [-73.985313, ...",New York,40.763714,-73.985313
7,Starbucks,"{'type': 'Point', 'coordinates': [-73.980208, ...",New York,40.755599,-73.980208
8,Starbucks,"{'type': 'Point', 'coordinates': [-73.981069, ...",New York,40.764412,-73.981069
9,Starbucks,"{'type': 'Point', 'coordinates': [-73.9837823,...",New York,40.760737,-73.983782
10,Starbucks,"{'type': 'Point', 'coordinates': [-74.00673, 4...",New York,40.711619,-74.006730
11,Starbucks,"{'type': 'Point', 'coordinates': [-74.01133, 4...",New York,40.705162,-74.011330
12,Starbucks,"{'type': 'Point', 'coordinates': [-73.977102, ...",New York,40.764785,-73.977102
13,Starbucks Reserve,"{'type': 'Point', 'coordinates': [-73.985222, ...",New York,40.759636,-73.985222
14,Starbucks,"{'type': 'Point', 'coordinates': [-73.989977, ...",New York,40.719333,-73.989977
15,Starbucks,"{'type': 'Point', 'coordinates': [-73.980964, ...",New York,40.733037,-73.980964
16,Starbucks,"{'type': 'Point', 'coordinates': [-74.003125, ...",New York,40.715754,-74.003125
17,Starbucks,"{'type': 'Point', 'coordinates': [-74.015373, ...",New York,40.710914,-74.015373
18,Starbucks,"{'type': 'Point', 'coordinates': [-73.978954, ...",New York,40.758856,-73.978954
19,Starbucks,"{'type': 'Point', 'coordinates': [-73.999961, ...",New York,40.718252,-73.999961

In [151]:
datafinal.to_json('./mongofinal.json',orient="records")

In [152]:
 # conexión con la base de datos de mongo
client = MongoClient("mongodb://localhost:27017/",username='admin',password='123')
db = client.companies

In [153]:
companiesdata = db.mongofinal.find()

In [154]:
comp = pd.DataFrame(companiesdata)
comp

,_id,name,geopoint,City,latitude,longitude
0,5d887d33d0027ef9b7eebc5c,Starbucks,"{'type': 'Point', 'coordinates': [-73.9891482,...",New York,40.757135,-73.989148
1,5d887d33d0027ef9b7eebc5d,Yipit,"{'type': 'Point', 'coordinates': [-73.987764, ...",New York,40.744618,-73.987764
2,5d887d33d0027ef9b7eebc5e,Starbucks,"{'type': 'Point', 'coordinates': [-73.9500657,...",New York,40.772464,-73.950066
3,5d887d33d0027ef9b7eebc5f,Starbucks,"{'type': 'Point', 'coordinates': [-73.976134, ...",New York,40.760348,-73.976134
4,5d887d33d0027ef9b7eebc60,Starbucks,"{'type': 'Point', 'coordinates': [-73.974057, ...",New York,40.762401,-73.974057
5,5d887d33d0027ef9b7eebc61,Starbucks Reserve,"{'type': 'Point', 'coordinates': [-74.0155323,...",New York,40.714152,-74.015532
6,5d887d33d0027ef9b7eebc62,Starbucks,"{'type': 'Point', 'coordinates': [-73.985313, ...",New York,40.763714,-73.985313
7,5d887d33d0027ef9b7eebc63,Starbucks,"{'type': 'Point', 'coordinates': [-73.981069, ...",New York,40.764412,-73.981069
8,5d887d33d0027ef9b7eebc64,Starbucks,"{'type': 'Point', 'coordinates': [-73.980208, ...",New York,40.755599,-73.980208
9,5d887d33d0027ef9b7eebc65,Starbucks,"{'type': 'Point', 'coordinates': [-73.9837823,...",New York,40.760737,-73.983782
10,5d887d33d0027ef9b7eebc66,Starbucks,"{'type': 'Point', 'coordinates': [-74.00673, 4...",New York,40.711619,-74.006730
11,5d887d33d0027ef9b7eebc67,PeekYou,"{'type': 'Point', 'coordinates': [-73.985506, ...",New York,40.757929,-73.985506
12,5d887d33d0027ef9b7eebc68,Chartbeat,"{'type': 'Point', 'coordinates': [-73.990967, ...",New York,40.733430,-73.990967
13,5d887d33d0027ef9b7eebc69,Starbucks Reserve,"{'type': 'Point', 'coordinates': [-73.985222, ...",New York,40.759636,-73.985222
14,5d887d33d0027ef9b7eebc6a,Starbucks,"{'type': 'Point', 'coordinates': [-73.989977, ...",New York,40.719333,-73.989977
15,5d887d33d0027ef9b7eebc6b,Starbucks,"{'type': 'Point', 'coordinates': [-73.980964, ...",New York,40.733037,-73.980964
16,5d887d33d0027ef9b7eebc6c,Starbucks,"{'type': 'Point', 'coordinates': [-74.003125, ...",New York,40.715754,-74.003125
17,5d887d33d0027ef9b7eebc6d,Starbucks,"{'type': 'Point', 'coordinates': [-74.01133, 4...",New York,40.705162,-74.011330
18,5d887d33d0027ef9b7eebc6e,Starbucks,"{'type': 'Point', 'coordinates': [-73.978954, ...",New York,40.758856,-73.978954
19,5d887d33d0027ef9b7eebc6f,Starbucks,"{'type': 'Point', 'coordinates': [-73.977102, ...",New York,40.764785,-73.977102
20,5d887d33d0027ef9b7eebc70,Starbucks,"{'type': 'Point', 'coordinates': [-74.015373, ...",New York,40.710914,-74.015373
21,5d887d33d0027ef9b7eebc71,GameChanger Media,"{'type': 'Point', 'coordinates': [-74.0136605,...",New York,40.707834,-74.013661
22,5d887d33d0027ef9b7eebc72,Starbucks,"{'type': 'Point', 'coordinates': [-73.9858802,...",New York,40.756727,-73.985880
23,5d887d33d0027ef9b7eebc73,BrandYourself,"{'type': 'Point', 'coordinates': [-71.24762, 4...",New York,42.275263,-71.247620
24,5d887d33d0027ef9b7eebc74,ChallengePost,"{'type': 'Point', 'coordinates': [-74.00717, 4...",New York,40.740804,-74.007170
25,5d887d33d0027ef9b7eebc75,Starbucks,"{'type': 'Point', 'coordinates': [-73.999961, ...",New York,40.718252,-73.999961

In [155]:
def getCompaniesNear(latitude,longitude, max_meters=2000):
    return list(db.mongofinal.find({
        "geopoint": {
            "$near": {
               "$geometry": {
                  "type": "Point" ,
                  "coordinates": [ longitude , latitude ]
               },
               "$maxDistance": max_meters
             }
       }
    }))


fifth_avenue = [40.7744089,-73.9678246]
df_filtered = pd.DataFrame(getCompaniesNear(*fifth_avenue,6000))
df_filtered.count()

_id          17
name         17
geopoint     17
City         17
latitude     17
longitude    17
dtype: int64

In [157]:
result = df_filtered.drop(columns=["_id"])
result

,name,geopoint,City,latitude,longitude
0,Starbucks,"{'type': 'Point', 'coordinates': [-73.977102, ...",New York,40.764785,-73.977102
1,Starbucks,"{'type': 'Point', 'coordinates': [-73.974057, ...",New York,40.762401,-73.974057
2,Starbucks,"{'type': 'Point', 'coordinates': [-73.9500657,...",New York,40.772464,-73.950066
3,Starbucks,"{'type': 'Point', 'coordinates': [-73.981069, ...",New York,40.764412,-73.981069
4,Starbucks,"{'type': 'Point', 'coordinates': [-73.976134, ...",New York,40.760348,-73.976134
5,Starbucks,"{'type': 'Point', 'coordinates': [-73.985313, ...",New York,40.763714,-73.985313
6,Starbucks,"{'type': 'Point', 'coordinates': [-73.978954, ...",New York,40.758856,-73.978954
7,Starbucks,"{'type': 'Point', 'coordinates': [-73.9837823,...",New York,40.760737,-73.983782
8,Starbucks Reserve,"{'type': 'Point', 'coordinates': [-73.985222, ...",New York,40.759636,-73.985222
9,Starbucks,"{'type': 'Point', 'coordinates': [-73.980208, ...",New York,40.755599,-73.980208
10,PeekYou,"{'type': 'Point', 'coordinates': [-73.985506, ...",New York,40.757929,-73.985506
11,Starbucks,"{'type': 'Point', 'coordinates': [-73.9858802,...",New York,40.756727,-73.985880
12,Starbucks,"{'type': 'Point', 'coordinates': [-73.9891482,...",New York,40.757135,-73.989148
13,Yipit,"{'type': 'Point', 'coordinates': [-73.987764, ...",New York,40.744618,-73.987764
14,Starbucks,"{'type': 'Point', 'coordinates': [-73.980964, ...",New York,40.733037,-73.980964
15,Chartbeat,"{'type': 'Point', 'coordinates': [-73.990967, ...",New York,40.733430,-73.990967
16,ChallengePost,"{'type': 'Point', 'coordinates': [-74.00717, 4...",New York,40.740804,-74.007170

In [158]:
result.to_json('./mongoresult.json',orient="records")